<div class="navigation">
    {{ if and .Prev }}
    <hr>
        <a class="badge rounded-pill bg-success" href="{{ .Prev.Permalink }}">⇦&nbsp;{{ .Prev.Title }}</a></span>
    {{ end }}
    {{ if and .Next (in .Next.Permalink "/blog/") }}
        <a class="badge rounded-pill bg-success float-end" href="{{ .Next.Permalink }}">{{ .Next.Title }}&nbsp;⇨</a>
    {{ end }}
</div>
<div style="max-width: 100%;">
    <script>
        var remark_config = {
            host: 'https://o.toplist.cz/remark42/',
            site_id: 'o.toplist.cz',
            locale: 'cs',
            no_footer: true
        }
    </script>
    <script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
    <div id="remark42"></div>
</div>
