.homepage-links .card-text {
    display: none;
}

svg.fa-chart-bar {
    transform: scaleX(-1) rotate(270deg);
}

#navbarNav {
    border-bottom: 1px solid lightblue;
}

a.nav-link:hover {
    text-decoration: underline;
}
