:root,
:root[color-theme="light"] {
  --body-background: #eee;
  --header-background: #438eb9;
  --header-font-color: #ffffff;
  --footer-background: #e9e9e9;
  --footer-font-color: #1e1e1e;
}

.gdoc-header .container {
    padding: .25rem;
    font-family: inherit;
}
.gdoc-header {
  font-family: inherit;
}
body, h1, h2, h3 {
    font-family: Helvetica,Arial,sans-serif;
}
